col-3 {
    background-color: aqua;
}

.col-9 {
    background-color: blue;
}

.individual-episode {
    font-size: 10px;
}

.individual-episode:hover {
    background-color: aliceblue;

}

.character-img {
    width: 100px;
}